.currency-converter-wrapper {
  background-color: rgba(var(--blue-900), 1);
  padding: 2em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 50vw;
  color: rgba(var(--blue-700, 1));
}

.currency-converter-wrapper .cc-title {
  color: var(--text-color-dark);
}

.currency-converter-wrapper .cc-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  text-align: left;
}

.cc-form label {
  color: rgba(var(--gray-50), 1);
  display: block;
  margin-left: 5px;
}

.cc-input-amount {
  display: inline-block;
}

.cc-from-currency {
  display: inline-block;
}

.cc-to-currency {
  display: inline-block;
}

.dropdown {
  background-color: rgba(var(--gray-50), 1);
  color: rgba(var(--blue-700, 1));
  min-width: 10vw;
  height: 4em;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(var(--blue-500), 0.5);
}

.dropdown:hover {
  background-color: rgba(var(--blue-100), 1);
}

.dropdown .display-primary {
  font-weight: bolder;
  font-size: 1.5em;
}

.dropdown .display-secondary {
  color: rgba(var(--blue-700), 0.7);
}

.dropdown .downarrow {
  border-color: rgba(var(--blue-700), 1);
  width: 0.4em;
  height: 0.4em;
  border-width: 0 0.3em 0.3em 0;
}

.dropdown-list {
  margin-left: 5px;
  border-radius: 10px;
}

.dropdown-list-item {
  text-align: center;
  font-weight: bold;
  padding: 1em 0 1em 0;
  border-top: 2px solid rgba(var(--gray-900), 0.2);
  background-color: rgba(var(--gray-50), 1);
  margin: 0;
}

.dropdown-list-item:hover {
  background-color: rgba(var(--blue-100), 1);
}

.cc-input-amount input {
  font-size: 2em;
  font-weight: bolder;
  display: inline-block;
  padding-left: 1em;
  color: rgba(var(--blue-700), 1);
  height: 2em;
  width: 5em;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(var(--blue-500), 0.5);
}

.cc-submit-button {
  background-color: rgba(var(--yellow-400), 1);
  height: 5em;
  width: 5em;
  margin-top: 22px;
  border-radius: 10px;
  border-width: 0;
  width: 10%;
  box-shadow: 3px 3px rgba(var(--blue-500), 0.5);
}

.cc-submit-button:hover {
  background-color: rgba(var(--yellow-500), 1);
}

.submit-icon {
  width: 0.6em;
  height: 0.6em;
  border-width: 0 0.6em 0.6em 0;
  border-color: rgba(var(--blue-700), 1);
  border-style: solid;
  border-radius: 0 0 0.3em 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.cc-display {
  color: rgba(var(--gray-300), 1);
  font-weight: bold;
}

.cc-display .amount-to-currency {
  font-size: 3em;
  font-weight: bolder;
  color: rgba(var(--gray-50), 1);
}

svg {
  margin: 2em 1em 0 1em;
  fill: rgba(var(--gray-50), 1);
  width: 50px;
  height: 50px;
}
