@import "../main/color.css";

.message-converter-wrapper {
  background-color: rgba(var(--gray-600), 1);
  padding: 2em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.message-converter-wrapper .mc-title {
  color: var(--text-color-dark);
}

.message-converter-wrapper .mc-form {
  text-align: left;
  width: 70vw;
}

.message-converter-wrapper .mc-form p {
  display: flex;
  justify-content: space-around;
  height: 3em;
  align-items: center;
}

.message-converter-wrapper .mc-form label {
  width: 15em;
}

.message-converter-wrapper .mc-form input {
  width: 70em;
  height: 80%;
  border-radius: 2em;
  padding-left: 20px;
}

.message-converter-wrapper .mc-form input:disabled {
  background-color: rgba(var(--gray-50), 0.9);
}

.message-converter-wrapper .mc-form .mc-submit-button {
  padding: 0;
  margin-top: 2em;
  width: 10em;
  height: 4em;
  background-color: rgba(var(--gray-900), 0.7);
  color: rgba(var(--green-500), 1);
  font-size: medium;
  border-color: rgba(var(--green-500), 1);
  border-radius: 10em;
  border-width: 5px;
}
