@import "color.css";

:root {
  --text-color-normal: rgb(var(--gray-100));
  --text-color-dark: rgb(var(--gray-200));
}

html {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-color: rgba(var(--gray-900), 0.9);
  color: var(--text-color-normal);
}

body .container {
  max-width: max-content;
  margin: auto;
  text-align: center;
}
