@import "color.css";

:root {
  --text-color-normal: rgb(var(--gray-100));
  --text-color-dark: rgb(var(--gray-200));
}

html {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-color: rgba(var(--gray-900), 0.9);
  color: var(--text-color-normal);
}

body .container {
  max-width: max-content;
  margin: auto;
  text-align: center;
}

.home-button {
  margin-left: 0;
}

.home-button a {
  text-decoration: none;
  color: rgb(var(--gray-50), 1);
  padding: 1em 2em 1em 2em;
}

.homepage-wrapper {
  width: 50vw;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(var(--gray-700), 1);
}

.page-nav {
  cursor: pointer;
  background-color: rgba(var(--gray-700, 1));
  border: 5px solid rgba(var(--gray-50, 1));
  color: rgba(var(--gray-50), 1);
  /* border: 2px; */
  text-decoration: none;
  font-weight: bolder;
  max-width: 50%;
  margin: 2em 0 2em 0;
  padding: 1.5em 4em 1.5em 4em;
  border-radius: 25px;
}

.page-nav:hover {
  background-color: rgba(var(--green-400, 1));
  border: 5px solid rgba(var(--green-400, 1));
  color: rgba(var(--gray-700), 1);
}
